@use 'variables' as *;

$primary-blue: #0051ff;
$secondary-blue: #003fca;
$text-medium: #222e37;

body {
  margin: 0;
  font-family: 'Benton Sans Pro', sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.layout-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  .main-content {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    @media (min-width: 992px) {
      padding: 40px 40px 40px 100px;
    }
  }
}

.mat-mdc-paginator {
  background: transparent !important;

  .mat-mdc-form-field {
    --mdc-filled-text-field-container-color: transparent;

    --mdc-filled-text-field-active-indicator-color: #ced3d9;
    --mdc-filled-text-field-idle-indicator-color: #ced3d9;
    --mdc-filled-text-field-active-indicator-height: 1px;

    width: 64px;

    .mat-mdc-text-field-wrapper {
      padding: 0 !important;
    }

    .mdc-line-ripple::after {
      display: none !important;
    }
  }
}
