// Brand Colors
$primary-blue: #0051ff;
$secondary-blue: #003fca;
$secondary-135: #003fca;

// Layout & Borders
$bg-body: #f4f5f7;
$bg-light: #f4f5f7;
$border-pale: #ced3d9;
$neutral-white: #ffffff;
$neutral-pale-grey: #ced3d9;

// Typography
$text-medium: #222e37;
$text-light: #697786;
$neutral-light-grey-80: #697786;
$font-main: 'Benton Sans Pro', sans-serif;